# ignore deployment environment file
/.environment

# ignore logs directory
logs/

# ignore binaries directory
bin/*
!bin/.gitkeep

# ignore txt and csv files in the repo root (input/output files)
/*.txt
/*.csv
/*.csv.gz

# ignore log files in the repo root (input/output files)
/*.log
